<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-16">
  <div class="flex items-center justify-end gap-4">
    <a href="/create" class="w-25 px-3 py-2 bg-green-900 hover:bg-green-800 sm:rounded-lg text-white">Añadir tarea
      nueva</a>
    <a href="/" class="w-25 px-3 py-2 bg-red-900 hover:bg-red-800 sm:rounded-lg text-white">Salir</a>
  </div>
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-6">
    <table class="table-fixed w-full">
      <thead>
        <tr class="bg-green-900 text-white">
          <th class="w-20 py-4 ...">ID</th>
          <th class="w-1/4 py-4 ...">Titulo</th>
          <th class="w-1/2 py-4 ...">Descripcion</th>
          <th class="w-28 py-4 ...">Controles</th>
        </tr>
      </thead>
      <tbody>
        {{#each tasks}}
        <tr>
          <td class="py-3 px-6">{{id}}</td>
          <td class="p-3">{{title}}</td>
          <td class="p-3 text-center">{{description}}</td>
          <td class="p-3 flex">
            <form action="/tasks/delete" method="POST" class="mx-2">
              <input type="hidden" value="{{id}}" name="id">
              <button class="bg-red-900 hover:bg-red-800 text-white px-3 py-1 sm:rounded-lg " type="submit">
                <i class="fas fa-trash"></i></button>
            </form>
            <a href="/tasks/edit/{{id}}" class="bg-green-900 hover:bg-green-800 text-white px-3 py-1 sm:rounded-lg ">
              <i class="fas fa-pen"></i></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>